
.carbon_state {
    /*min-width: 1000px;*/
    /*max-width: 1000px;*/
}

.carbon_state .ui.basic.table {
    font-size: 12px;
}

.carbon_state .ui.small.table {
    font-size: 1.1em!important;
}

.carbon_state .monitor_tr {
    background: #eaeaea;
    font-weight: bolder;
}

.carbon_state .settings_btn {
    position: absolute;
    padding: .38571429em .47571429em .48571429em!important;
    font-size: .68571429rem!important;
    margin-top: 8px!important;
}

.carbon_state .ui.table td.positive, .ui.table tr.positive {
    background: #e1e6d4!important;
    font-weight: bolder;
}

.carbon_state .ui.table tr td.disabled, .ui.table tr.disabled td, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
    background: #e1e6d4!important;
}

.carbon_state .ui.table td.active, .ui.table tr.active {
    background: #efeff5!important;
    color: #287ab7!important;
}

.carbon_state .ui[class*="very compact"].table td {
    padding: .1em .3em!important;
}

.carbon_state .ui.small.table td.one.wide, .ui.table th.one.wide {
    width: 2.5%;
}

.carbon_state .table_header {
    background: #dad4c1;
}

.carbon_state .ui.table thead th {
    padding: .2em .3em;
}
