.wfdb_app .ui.basic.table {
    font-size: 14px;
}

.frame {
    overflow-y:scroll;
    top:0px!important;
    left:0px;
    height:520px!important;
}

.wfdb_app .monitor_tr {
    background: #eaeaea;
    font-weight: bolder;
    cursor: pointer!important;
}

.wfdb_app .settings_btn {
    position: absolute;
    padding: .38571429em .47571429em .48571429em!important;
    font-size: .68571429rem!important;
    margin-top: 8px!important;
}

.wfdb_app .ui.table td.positive, .ui.table tr.positive {
    background: #e1e6d4!important;
    font-weight: bolder;
}

.wfdb_app .ui.table tr td.disabled, .ui.table tr.disabled td, .ui.table tr.disabled:hover, .ui.table tr:hover td.disabled {
    background: #e1e6d4!important;
}

.wfdb_app .ui.table td.active, .ui.table tr.active {
    background: #efeff5!important;
    color: #287ab7!important;
}

.wfdb_app .ui[class*="very compact"].table td {
    padding: .1em .3em!important;
}

.wfdb_app .ui.table td.one.wide, .ui.table th.one.wide {
    width: 2.5%;
}

.wfdb_app .table_header {
    background: #dad4c1;
}

.wfdb_app .ui.table thead th {
    padding: .2em .3em;
}
