.insert_app .large {
    font-size: 18px;
    min-width: 10em!important;
}

.insert_app .table {
    cursor: pointer!important;
}

.insert_app .tabContent{
  overflow-y:scroll;
  top:0px; left:0px;
  width:100%; height:250px;
}

.insert_app .uid {
    width: 130px!important;
}

.insert_app .rtl-dir {
    direction: rtl;
}

.insert_app .input_uid {
    margin-top: -3px!important;
    width: 180px!important;
    font-size: 19px!important;
    display: inline-flex!important;
}

.insert_app .ui.selection.dropdown {
    margin-left: 10px;
}

.insert_app .ui.selection.dropdown .menu {
    max-height: 350px!important;
}

.insert_app .ui.selection.dropdown.error {
    background: #fff6f6;
    border-color: #db2828;
}

.insert_app .ui.selection.dropdown .menu>.item {
    font-size: 18px;
}

.insert_app .filename {
    width: 500px!important;
}

.insert_app .datepickercs {
    cursor: pointer!important;
    width:117px!important;
    height:48px!important;
    font-size: 22px!important;
    border-color: #396dad;
    background-color: #ebf5fa;
    border: 1px solid #96c9f3;
    border-radius: .28571429rem;
}

.insert_app .react-datepicker {
    font-size: 1.5em;
}

.insert_app .react-datepicker__header {
    padding-top: 0.8em;
}

.insert_app .react-datepicker__month {
    margin: 0.4em 1em;
}

.insert_app .react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}

.insert_app .react-datepicker__current-month {
    font-size: 1em;
    display: none;
}

.insert_app .react-datepicker__month-read-view--selected-month {
    font-size: 1.5em;
    font-weight: bold;
}

.insert_app .react-datepicker__year-read-view--selected-year {
    font-size: 1.5em;
    font-weight: bold;
}

.insert_app .react-datepicker__day--outside-month {
    color: silver;
}

.insert_app .react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}

.insert_app .react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}

.insert_app .react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}

.insert_app .react-datepicker__day--sat {
    color: #ac0013;
}
