body {
    margin: 10px;
    height: 90%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.progress {
    top: 10px;
}

.aricha {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: larger;
    background: #bfecbf;
}

.insert {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: larger;
    background: palegreen;
}

.update {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: larger;
    background: #f9e7db;
}

.ingest_segment .mejs__container {
    height: 40px!important;
    width: 970px!important;
}

.scoped-semantic-ltr .ui.table tr.positive, .scoped-semantic-ltr .ui.table td.positive {
    background: #e1e6d4 !important;
    font-weight: normal!important;
    /*color: #2C662D;*/
}

.scoped-semantic-ltr .ui.table tr.active, .scoped-semantic-ltr .ui.table td.active {
    background: #f7ffe6 !important;
    color: #275b28 !important;
    font-weight: bold!important;
    /*color: #287ab7!important;*/
}

.trimmed_label {
    color: #2C662D!important;
}

.scrolling.dimmable.dimmed>.dimmer {
    overflow: auto;
}

.inout_btn:hover {
    background-color: #21BA45!important;
}

.input_idrecover {
    width: 115px!important;
}

.input_wfdb {
    width: 600px!important;
}

.admin_table {
    cursor: pointer!important;
}

.admin_table .scoped-semantic-ltr .ui.table tr.warning, .scoped-semantic-ltr .ui.table td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

.admin_table .scoped-semantic-ltr .ui.selectable.table tr.warning:hover, .scoped-semantic-ltr .ui.table tr td.selectable.warning:hover, .scoped-semantic-ltr .ui.selectable.table tr:hover td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

/* START TRIMMER CONTROL */

.btn_speed {
    width: 1px!important;
    padding: .18571429em 0.9em 1.8571429em!important;
}

.trimmer_control {
    padding: .5em .5em!important;
}

.time_control .ui.button {
    color: black;
    background: #d0dce8;
    border-bottom-color: black!important;
}

.frame_control .ui.button {
    color: black;
    background: #ccded1;
}

.time_control .ui.buttons .or:before {
    font-size: 13px!important;
    color: black;
}

.speed_control .ui.buttons .or:before {
    font-size: 13px!important;
    color: black;
}

.frame_control .ui.buttons .or:before {
    font-size: 13px!important;
    color: black;
}

.time_control .ui.button:hover {
    background-color: #2185D0!important;
}

.frame_control .ui.button:hover {
    background-color: #2185D0!important;
}

/* END TRIMMER CONTROL */

.trim_src_dropdown {
    min-width: 7em!important;
    border: 1px solid rgb(150, 200, 218) !important;
}

.scoped-semantic-ltr .ui.selection.dropdown .menu {
    max-height: 70rem;
}

.trim_files_dropdown {
    min-width: 39em!important;
}

.langcheck_dropdown {
    min-width: 60em!important;
    border: 1px solid rgb(150, 200, 218) !important;
}

.inout_content{
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:400px;
}

.ingest_table {
    font-size: 15px!important;
    cursor: pointer!important;
    font-weight: lighter;
}

.ui.fullscreen.modal {
    width: 100% !important;
}

.ingest_segment {
    max-width: 1000px;
    min-width: 1000px;
}

.mejs__overlay-button {
    display: none;
}

.mejs__overlay-loading {
    display: none;
}

.table_inouts {
    min-width: 310px!important;
    max-width: 310px!important;
}

.table_ctls{
    min-width: 140px!important;
    max-width: 140px!important;
}

.table_media {
    min-width: 650px!important;
    max-width: 650px!important;
}

.table_main {
    min-width: 1120px!important;
    max-width: 1120px!important;
    margin-bottom: 0em!important;
    margin-top: 0em!important;
}

.trimmer_modal {
    min-width: 1120px!important;
    max-width: 1120px!important;
}

.datepickercs {
    cursor: pointer!important;
    width:117px!important;
    height:38px!important;
    font-size: 22px!important;
    border-color: #396dad;
    background-color: #ebf5fa;
    border: 1px solid #96c9f3;
    border-radius: .28571429rem;
}

.react-datepicker {
    font-size: 1.3em;
}
.react-datepicker__header {
    padding-top: 0.8em;
}
.react-datepicker__month {
    margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
}

.react-datepicker__month-read-view--selected-month {
    font-size: 1.5em;
    font-weight: bold;
}

.react-datepicker__year-read-view--selected-year {
    font-size: 1.5em;
    font-weight: bold;
}

.react-datepicker__day--outside-month {
    color: silver;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}
.react-datepicker__day--sat {
    color: #ac0013;
}

.lang_com .monitor_tr {
    background: #eaeaea;
    font-weight: bolder;
}

.lang_com .settings_btn {
    position: absolute;
    padding: .38571429em .47571429em .48571429em!important;
    font-size: .68571429rem!important;
    margin-top: 8px!important;
}

.lang_com .ui.table td:hover {
    background: #e1e6d4!important;
}

.lang_com .scoped-semantic-ltr .ui.table tr.active, .scoped-semantic-ltr .ui.table td.active {
    background: #e1e6d4!important;
    color: #c30000!important;
}

.lang_com .scoped-semantic-ltr .ui.selectable.table tr.active:hover, .scoped-semantic-ltr .ui.table tr td.selectable.active:hover, .scoped-semantic-ltr .ui.selectable.table tr:hover td.active {
    background: #e1e6d4!important;
    color: #287ab7!important;
}

.lang_com .ui[class*="very compact"].table td {
    padding: .1em .3em;
}

.lang_com .ui.table td.one.wide, .ui.table th.one.wide {
    width: 2.5%;
}

.lang_com .table_header {
    background: #dad4c1;
}

.lang_com .ui.table thead th {
    padding: .2em .3em;
}

.lang_com .scoped-semantic-ltr .ui.fixed.table th, .scoped-semantic-ltr .ui.fixed.table td {
    overflow: visible!important;
}

.lang_com .lang_cell {
    color: rgba(40, 40, 40, 0.3)!important;
    overflow: visible!important;
    text-align: center;
}

.lang_tr {
    font-size: 18px;
    height: 40px;
    cursor: pointer!important;
}

.lang_header {
    background: #dad4c1;
}