body {
    margin: 10px;
    height: 90%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.mejs__container {
    height: 410px!important;
}

.popup_product {
    width: 520px;
}

.file_list {
    padding: .0em .0em!important;
}

.product_label {
    width: 97%;
}

.main_timer {
    font-size: 1.5em!important;
    padding: 0.0em 0.2em!important;
}

.sirtut {
    width:820px!important;
    height:460px!important;
}

.scoped-semantic-ltr .ui.selection.dropdown.error {
    border-color: #e00b0b;
}

.scoped-semantic-ltr .ui.selection.dropdown {
    border: 1px solid rgb(150, 200, 218);
}

.ui.progress {
    top: 10px;
}

.sirtut_table {
    width: 1200px!important;
}

.sirtut_segment {
    width: 770px;
}

.sirtut_captured {
    overflow-y:scroll;
    top:0px!important;
    left:0px;
    width:330px!important;
    height:520px;
}

.aricha {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: larger;
    background: #bfecbf;
}

.uploading {
    display: inline-block;
    margin: auto;
    border: 2px dashed #f70000;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: larger;
    background: #b5dee9;
}

.backup {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: larger;
    background: #decdc1;
}

.raw {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: larger;
    background: #e08383;
}

.insert {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: larger;
    background: palegreen;
}

.update_mode {
    background-color: #decdc1 !important;
}

.insert_mode {
    background-color: #21ba4454 !important;
}

.update {
    display: inline-block;
    margin: auto;
    border: 2px dashed #0087F7;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: larger;
    background: #f9e7db;
}

.ingest_segment .mejs__container {
    height: 40px!important;
    width: auto!important;
}

.scoped-semantic-ltr .ui.table tr.positive, .scoped-semantic-ltr .ui.table td.positive {
    background: #e1e6d4 !important;
    font-weight: bolder!important;
    /*font-weight: normal!important;*/
    /*color: #2C662D;*/
}

.scoped-semantic-ltr .ui.table tr.active, .scoped-semantic-ltr .ui.table td.active {
    background: #f7ffe6 !important;
    color: #275b28 !important;
    font-weight: bold!important;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: double;
    /*color: #287ab7!important;*/
}

.trimmed_label {
    font-size: 14px!important;
    color: #2C662D!important;
    ont-weight: bold!important;
    /*text-decoration: underline;*/
    /*text-decoration-color: red;*/
    /*text-decoration-style: double;*/
}

.capture_label {
    font-size: 16px!important;
    color: #9f061e !important;
    ont-weight: bold!important;
    /*text-decoration: underline;*/
    /*text-decoration-color: red;*/
    /*text-decoration-style: double;*/
}

.filesapp_label {
    font-size: 14px!important;
    color: #661418!important;
    ont-weight: bold!important;
    text-decoration: underline;
    text-decoration-color: red;
    /*text-decoration-style: double;*/
}

.files_label {
    font-size: 14px!important;
    color: #661418 !important;
    ont-weight: bold!important;
    /*background-color: #FFFAF3 !important;*/
    text-decoration: underline;
}

.note_area {
    width: 495px;
}

.note_message {
    max-width: 540px;
}

.preset_segment {
    width: 1000px!important;
}

.scrolling.dimmable.dimmed>.dimmer {
    overflow: auto;
}

.inout_btn:hover {
    background-color: #21BA45!important;
}

.inout_btn {
    vertical-align: top!important;
}

.input_idrecover {
    width: 115px!important;
}

.input_wfdb {
    width: 600px!important;
}

.job_input {
    width: 500px!important;
}

.user_input {
    width: 400px!important;
}

.input_line {
    width: 120px;
}

.admin_table {
    cursor: pointer!important;
}

.admin_table .scoped-semantic-ltr .ui.table tr.warning, .scoped-semantic-ltr .ui.table td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

.admin_table .scoped-semantic-ltr .ui.selectable.table tr.warning:hover, .scoped-semantic-ltr .ui.table tr td.selectable.warning:hover, .scoped-semantic-ltr .ui.selectable.table tr:hover td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

/* START TRIMMER CONTROL */

.btn_speed {
    width: 1px!important;
    padding: .18571429em 0.9em 1.8571429em!important;
}

.trimmer_control {
    padding: .5em .5em!important;
}

.time_control .ui.button {
    color: black;
    background: #d0dce8;
    border-bottom-color: black!important;
}

.frame_control .ui.button {
    color: black;
    background: #ccded1;
}

.time_control .ui.buttons .or:before {
    font-size: 13px!important;
    color: black;
}

.speed_control .ui.buttons .or:before {
    font-size: 13px!important;
    color: black;
}

.frame_control .ui.buttons .or:before {
    font-size: 13px!important;
    color: black;
}

.time_control .ui.button:hover {
    background-color: #2185D0!important;
}

.frame_control .ui.button:hover {
    background-color: #2185D0!important;
}

/* END TRIMMER CONTROL */

.trim_src_dropdown {
    min-width: 7em!important;
}

.scoped-semantic-ltr .ui.selection.dropdown .menu {
    max-height: 30rem;
}

.trim_files_dropdown {
    min-width: 39em!important;
}

.join_files_dropdown {
    width: 835px;
}

.lines_dropdown {
    min-width: 39em!important;
}

.langcheck_dropdown {
    min-width: 60em!important;
}

.inout_content{
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:400px;
}

.table_inouts {
    width:450px!important;
}

.files_list {
    background-color: #f4f4f4;
    cursor: pointer!important;
}

.censor_content{
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:600px;
}

.upload_content{
    overflow-y:scroll;
    max-height:400px;
}

.ingest_table {
    font-size: 15px!important;
    cursor: pointer!important;
    font-weight: lighter;
}

.product-file-cell {
    font-size: 15px !important;
    cursor: pointer !important;
    font-weight: lighter;
    padding-left: 20px!important;
}

.overflow {
    max-width: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.close_icon {
    cursor: pointer!important;
    font-weight: lighter;
}

.ui.fullscreen.modal {
    width: 100% !important;
}

.ingest_segment {
    min-width: 1000px;
}

.mejs__overlay-button {
    display: none;
}

.mejs__overlay-loading {
    display: none;
}

.mejs__button>button {
    font-size: 0;
    line-height: 0;
    margin: 10px 6px!important;
    overflow: hidden!important;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: 20px;
}

.table_ctls{
    min-width: 140px!important;
    max-width: 140px!important;
}

.table_media {
    min-width: 650px!important;
    max-width: 650px!important;
}

.table_main {
    min-width: 1120px!important;
    max-width: 1120px!important;
    margin-bottom: 0em!important;
    margin-top: 0em!important;
}

.ui[class*="very compact"].table td {
    padding: .2em .3em!important;
}

.ui.small.table td.one.wide, .ui.table th.one.wide {
    width: 2.5%;
}

.trimmer_modal {
    min-width: 1120px!important;
    max-width: 1120px!important;
}

.datepickercs {
    cursor: pointer!important;
    width:120px!important;
    height:38px!important;
    font-size: 22px!important;
    border-color: #396dad;
    background-color: #ebf5fa;
    border: 1px solid #96c9f3;
    border-radius: .28571429rem;
}

.datefilter {
    cursor: pointer!important;
    width:200px;
    height:38px!important;
    font-size: 18px!important;
    font-weight: bolder!important;
    border-color: #396dad;
    background-color: #ebf5fa;
    border: 1px solid #96c9f3;
    border-radius: .28571429rem;
}

.product_name {
    width:350px!important;
}

.react-datepicker {
    font-size: 1.3em;
}
.react-datepicker__header {
    padding-top: 0.8em;
}
.react-datepicker__month {
    margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
}

.react-datepicker__month-read-view--selected-month {
    font-size: 1.5em;
    font-weight: bold;
}

.react-datepicker__year-read-view--selected-year {
    font-size: 1.5em;
    font-weight: bold;
}

.react-datepicker__day--outside-month {
    color: silver;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}
.react-datepicker__day--sat {
    color: #ac0013;
}

.toggle {
    max-width: 200px;
}
